<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <title>No se encontró</title>
</head>
<body  style="display: grid;  place-items:center;  background-color: rgb(30,30,30)">
    <h1 style="color:mediumseagreen">YOU'RE LOST ?? </h1>
    <div>
        <img src="/img/download.jpg" alt="no">
    </div>
</body>
</html>