<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <title>Simca Backend</title>
</head>
<body >
        <h1>Welcome to the SIMCA BACKEND</h1>
        <p >
            This is a simple API that allows you to manage your students and their classes.
        </p>
        
        <h1 >EXAMPLES<h1>
        <ol>
            <li> GET /student/ todos los estudiantes</li>
            <li> GET /student/:id todos los estudiantes con id = id</li>
            <li> GET /class/:idStudent todos las clases de un estudiante con id = idStudent</li>
            <li> GET /program/:idStudent todos los programas de un estudiante con id = idStudent</li>
</body>
</html>