
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%; 
    height: 100%; 
    background-color: rgba(30,30,30,1); 
    display: grid; 
    place-items: center;
}
h1 {
    color: mediumseagreen;
}
p {
    color: white;
}
ol, ul {
    color: white;
}


